/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
:root{
  --c-n-900: hsl(243, 96%, 9%);
  --c-n-800:hsl(243, 27%, 20%);
  --c-n-700:hsl(243, 23%, 24%);
  --c-n-600:hsl(243, 23%, 30%);
  --c-n-300:hsl(240, 6%, 70%);
  --c-n-200:hsl(250, 6%, 84%);
  --c-n-0:hsl(0, 0%, 100%);
  --c-orange-500:hsl(28, 100%, 52%);
  --c-blue-500:hsl(233, 67%, 56%);
  --c-blue-700:hsl(248, 70%, 36%);
  --fs-base:calc(18/16*1rem);
}
*{
 font-family:"DM Sans",sans-serif;
 font-size:var(--fs-base);
 color:var(--c-n-200);

}
ul,ol{
  list-style-type:none;
  padding:0;
  margin:0;
}
body{
  min-height:100dvh;
  background-color: var(--c-blue-700);
}
main{
  width:100%;
  --padding-inline:1rem;
  --padding-block:0.25rem;
  --gap:1.3rem;
  padding-inline:var(--padding-inline);
  padding-block:var(--padding-block);
  display:flex;
  flex-direction: column;
  gap:var(--gap);
  @media(width>=700px){
     --padding-inline:4rem;
     --padding-block:1.4rem;
  }
}
.bento-card{
  --padding-inline:3rem;
  --padding-block:3rem;
  --border-radius:12px;
  --gap:8px;
  display:grid;
  gap:var(--gap);
  padding-inline:var(--padding-inline);
  padding-block:var(--padding-block);
  border-radius:var(--border-radius);
}
.hero{
  --grid-gap:1.5rem;
  display:grid;
  gap:var(--grid-gap)
}
.hero__menu{
  display:flex;
  justify-content:space-between;
  align-items:center;

  >img{
    width:7rem;
  }
}
.hero__setting{
  --gap:6px;
  --border-radius:8px;
  --padding-block:6px;
  --padding-inline:6px;
  display:flex;
  gap:var(--gap);
  width:5rem;
  font-size:0.75rem;
  color:var(--c-n-200);
  background-color:var(--c-n-700);
  border-radius:var(--border-radius);
  padding-block:var(--padding-block);
  padding-inline:var(--padding-inline);

}
.hero__msg{
  color:var(--c-n-200);
  text-align:center;
  font-size:2.5rem;
  padding-inline:0.825rem;
  font-weight:800;
}
.hero__search{
  --gap:11px;
  --border-radius:12px;
  --padding-inline:20px;
  --padding-block:15px;
  --fs-base:17px;
  display:flex;
  flex-direction: column;
  gap:var(--gap);
  @media(560px<=width){
    flex-direction: row;
    justify-content: center;
  }
  button{
    border-radius:var(--border-radius);
    background-color: var(--c-blue-500);
    color:var(--c-n-200);
    border:none;
    padding-inline:var(--padding-inline);
    padding-block:var(--padding-block);
    font-weight:600;
  }
}
.search{
  --gap:4px;
  display:flex;
  gap:var(--gap);
  width:100%;
  max-width:500px;
  background-color:var(--c-n-700);
  padding-inline:var(--padding-inline);
  padding-block:var(--padding-block);
  border-radius:var(--border-radius);
  @media(560px<=width){

  }
  img{
    width:1.1rem;
  }
  input{
    border:none;
    width:100%;
    background-color:inherit;
    color:var(--c-n-300);
    &:focus{
      outline:none;
      
    }
    &::placeholder{
      color:var(--c-n-300);
    }
  }
}
.content{
  display:flex;
  flex-direction: column;
  gap:15px;
  
  @media(width>=950px){
    flex-direction: row;
    justify-content: center;
    gap:25px;
  }
}
.current{
  display:flex;
  flex-direction: column;
  color:var(--c-n-200);
  gap:18px;
}
.current__detail{
  --border-radius:18px;
  --padding-block:2rem;
  --padding-inline:1rem;
  display:flex;
  flex-direction: column;
  background:url('/public/bg-today-small.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: space-between;
  @media(width>=500px){
    flex-direction: row;
    align-items: center;
  }
  >:nth-child(1){
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    >:nth-child(1){
      font-size:1.4rem;
      font-weight:600;
    }
    >:nth-child(2){
      font-size:0.925rem;
    }
  }
  >:nth-child(2){
    display:flex;
    align-items: center;
    justify-content: end;

    
    img{
      width:clamp(80px,35%,130px);
    }
    >span{
      font-size:clamp(10px,30vw,150px);
      font-weight:500;
      color:var(--c-n-200);
    }
  }
}
.current__additional{
  --fs:0.925rem;
  display:grid;
  gap:10px;
  grid-template-columns: repeat(auto-fit,minmax(130px,1fr));
  >span{
    --padding-inline:1.1rem;
    --padding-block:0.9rem;
    --border-radius:0.9rem;
    background-color:var(--c-n-700);
    color:var(--c-n-200);
    >span:nth-child(1){
      color:var(--c-n-300);
      font-size:var(--fs);
    }
    >span:nth-child(2){
      --fs:1.5rem;
      font-size:var(--fs);
    }
  }
}
.daily ul{
  
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(75px,1fr));
  gap:8px;
  @media(width>=950px){
    grid-template-columns: repeat(7,1fr);
  }
  li{
    --padding-inline:0.7rem;
    --padding-block:0.7rem;
    background-color: var(--c-n-700);
    color:var(--c-n-200);
    
    >:nth-child(1){
      --fs:0.925rem;
      text-align: center;
      font-size:var(--fs);
      font-weight:500;
    }
    img{
      width:3rem;
      margin-inline:auto;
    }
    >:nth-child(3){
      display:flex;
      justify-content: space-between;
      >*{
        font-size:0.925rem;
      }
    }
  }
}
.right{
  --padding-inline:1rem;
  --padding-block:1.2rem;
  --border-radius:1.2rem;
  background-color: var(--c-n-700);
  color:var(--c-n-200);
  display:flex;
  flex-direction: column;

  @media(width>=950px){
    max-height:593px;
  }
}
.right__banner{
  display:flex;
  justify-content: space-between;
  >:nth-child(1){
    font-size:1rem;
    font-weight:700;
  }
  >:nth-child(2){
    display:flex;
    background-color: var(--c-n-600);
    --padding-block:0.2rem;
    --padding-inline:0.7rem;
    --border-radius:0.3rem;
    >*{
      font-size:0.9rem;
      font-weight:500;
    }
  }
  img{
    width:13px;
  }
}
.right__content{
  display:grid;
  gap:8px;
  max-width:800px;
  overflow-y:auto;
  &::-webkit-scrollbar{
    width:5px;
  }
  &::-webkit-scrollbar-thumb{
    background-color: var(--c-n-300);
  }
  img{
    width:1.9rem;
  }
  >div{
    --padding-inline:0.4rem;
    --padding-block:0.43rem;
    border:1px solid var(--c-n-300);
    display:flex;
    background-color: var(--c-n-600);
    align-items: center;
    >:nth-child(2){
      font-size:0.95rem;
      font-weight:500;
    }
    >:nth-child(3){
      margin-inline-start:auto;
      font-size:0.9rem;
    }
  }
}